/*BODY*/
#faceLink {
   background-image: url('../img/FacebOff.png');
}

#faceLink:hover {
    background-image: url('../img/FacebOn.png');
}

body{
		background-color: #FBF6DA;
		min-width: 900px;
		margin:auto; 
		width:1050px;
}

/*HEADER*/
header{
	padding-top: 50px;
	background-color: #FC8833;
	margin:auto; 
	width:1050px;
}

#searchDiv{
	display: inline-flex;
	background-color: #FC8833;
    margin-top: 2%;
    margin-bottom: 2%;    
	height: 50px;
}

#maincontainer {   
margin:auto; 
width:1050px;
height:100%;
display: flex;
justify-content: space-between;
}

#headercontainer { 
margin:auto; 
width:100%;
height:100%;
display: flex;
justify-content: space-between;
}

#logo{
	position: absolute;
	top: 10px;
	left: 20px;
}

nav{
	vertical-align: baseline;
	float: right;
	margin-left: 42.9%;

}

nav form {
	text-align: right;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
} 

h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
} 

#resumen{
	font-size: 20pt;
	font-family: Arial, Helvetica, sans-serif;
}


p{
	padding: 10px;
}

.flexybox {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

/*search field */
.buscador{
	text-align: right;	
	background-color: #FBF6DA;
	margin-right: 10px;
}

input{
	background-color: #FBF6DA;
	width: 50 em;	
}

#navegacion{
	width: 70%;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
}

#navegacion li {
	width: 150px;
	text-align: right;
	vertical-align: center;
	height: 50px;
	background-color: #FDBF91;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-right: solid #5B5B5B 1px;


}

#navegacion li a{
	color: #fff;
	text-decoration: none;
	text-align: right;
	padding-right: 20px;

}

#noticiasLi{
	flex-grow: 1;
	text-align: right;
}

#logo{
		position:absolute;
		left:17em;
		top:1em;
		}
	
		input{
			border:none;
			border-radius:0.3em;
			box-shadow:none;
			float:left;
			font-size:1em;
			}
			input.caja-texto{
				background:antiquewhite;
				border-bottom-right-radius:0;
				border-top-right-radius:0;
				color:#545454;
				font-style:italic;
				padding:0.5em 1em;
				width:12.35em;
				}
				input.boton{
					background:#cccccc url("../img/lupa.png") no-repeat center center;
					border-bottom-left-radius:0;
					border-top-left-radius:0;
					color:#545454;
					padding:0.5em 0;
					width:35px;
					}


#mainBody{
	display: flex;
	justify-content: space-between;
	margin: 50px 25px;

}

/*OPINION*/
.descripcion{
    display: block;
    bottom: -900px;
    width: 150px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7)!important;
    padding: 0.5em 4.5em 0em 0.5em!important;
	margin-top: -50px;
	font-size: 12px;
} 

.imagen{
	width: 200px;
}

.imgCtr{
	width: 200px;
}
 
#contenedorImagenes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
}

#contenedorImagenes img{
	width: 150px;
}
main{
	margin-top: 40px;
}

    #card1 {
        background: url("img/FacebOff.png") no-repeat;
    }
    #card1:hover {
        content: src("img/FacebOn.png") no-repeat;
    }
	


/*ASIDE*/

aside{
	flex-direction: column;
	margin-top: 40px;
}

aside article{
	border: solid #FC8833 1px;
}

aside h2{
	background-color: #FC8833;
	height: 50px;
	color: #fff;
	display: block;
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

aside img{
	margin: 5px;
}


.asideItem{
display: flex;
justify-content: space-around;
margin: 10%;
flex-direction: column-reverse;
}


/*FOOTER*/
footer{
	background: #6A6B67;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;	
}

footer a{
	color: #fff;
}

.right{
	text-align: right;

}

p{
	font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
	#mainBody{
			flex-direction: column;

	}
}


			
